<div class="row">
  <div class="col-8">
    <p id="mainText" class="lead">Welcome to our escape room adventure! We are thrilled to have you join us for an exciting and challenging experience. Our escape rooms are designed to test your intelligence, problem-solving skills, and teamwork. Each room has a unique theme and story, and you will have the opportunity to choose between several different rooms.\r\n\r\nOur rooms are suitable for all ages and they are designed for a fun and engaging experience for all participants. We have worked hard to create a unique and realistic environment, and we promise that you will be immersed in the story from the moment you enter the room.\r\nYou will have 60 minutes to escape the room, and you will be given clues along the way to help you solve the puzzles and reach the final goal.\r\n\r\nWe are confident that you will have a great time and we look forward to providing you with an unforgettable experience. Thank you for choosing us, we can't wait to see you escape!</p>
  </div>
  <div class="col-4"> <img src="/img/generic.png" class="img-fluid" alt="Responsive image">
  </div>


</div>
<div class="row">

  <div id="games" class="col-12">

  </div>


</div>


  <script src="templates/home/js/home.js"></script>