<script type="text/x-handlebars-template">
   {{#each games}}
  <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="portfolio-item">
                            <button class="portfolio-link" data-bs-toggle="modal" onclick="loadGame('{{id}}',0)" style="border: 0;">
                                
                                <img class="img-fluid" src="assets/img/portfolio/{{id}}.jpg" alt="..." />
                            </button>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading text-dark">{{title}}</div>
                                <div class="portfolio-caption-subheading text-muted">{{description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
  {{/each}}




  </script>