<script type="text/x-handlebars-template">
   {{#each games}}
          <button onclick="loadLevel('{{id}}',0)" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">{{title}}</a>

  {{/each}}




  </script>